// div.task-editor {
//     & > div.modal-content {
//     }
// }

div.sql-step-editor {
    & > div.modal-content {
        width: 120%;
    }
}

div.pipeline-editor {
    & > div.modal-content {
        min-height: 650px;
    }
}

div.pipeline-table {
    width: 1200px;

    & > div {
        height: 680px;
        overflow-y: auto;

        & > table {
            & > thead {
                & > tr {
                    & > th[data-role='type'] {
                        width: 100px;
                        text-align: center;
                    }
                    & > th[data-role='airflow_dag'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='author'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='team'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='category'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='paused'] {
                        width: 174px;
                        text-align: center;
                    }
                }
            }
            & > tbody {
                & > tr {
                    & > td {
                        height: 40px;
                        vertical-align: middle;
                    }
                    & > td[data-role='type'] {
                        text-align: center;
                    }
                    & > td[data-role='airflow_dag'] {
                        text-align: center;
                    }
                    & > td[data-role='author'] {
                        text-align: center;
                    }
                    & > td[data-role='team'] {
                        text-align: center;
                    }
                    & > td[data-role='category'] {
                        text-align: center;
                    }
                    & > td[data-role='paused'] {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.task-table {
    & > thead {
        & > tr {
            & > th[data-role='tools'] {
                width: 100px;
            }
            & > th[data-role='name'] {
                width: 35%;
            }
            & > th[data-role='type'] {
                text-align: center;
            }
            & > th[data-role='application'] {
                width: 35%;
            }
        }
    }
    & > tbody {
        & > tr {
            & > td {
                vertical-align: middle;
            }
            & > td[data-role='type'] {
                text-align: center;
            }
        }
    }
}

.dep-table {
    & > thead {
        & > tr {
            & > th[data-role='tools'] {
                width: 100px;
            }
            & > th[data-role='src-task'] {
                width: 35%;
            }
            & > th[data-role='then'] {
                text-align: center;
            }
            & > th[data-role='dst-task'] {
                width: 35%;
            }
        }
    }
    & > tbody {
        & > tr {
            & > td[data-role='then'] {
                text-align: center;
            }
        }
    }
}

table.pipeline-basic-attribute-grid {
    font-family:'courier new',monospace;
    border: 1px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 100%;
    background-color: white;

    & > tbody > tr > td {
        border: 1px solid rgb(211, 211, 211);
        padding: 4px;
    }

    & > tbody > tr > td:first-child {
        width: 160px;
        vertical-align: top;
    }
}

table.pipeline-task-info-grid {
    font-family:'courier new',monospace;
    border: 1px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 50%;
    background-color: white;

    & > tbody > tr > td {
        border: 1px solid rgb(211, 211, 211);
        padding: 4px;
    }

    & > tbody > tr > td:first-child {
        width: 160px;
        vertical-align: top;
    }
}

div.step_panel {
    background-color: #EEEEEE;
}

div.step_content_section {
    font-family:'courier new',monospace;
}



