$primary-color: rgb(250, 250, 250);

body {
  background-color: $primary-color;
  padding-top: 70px;
}

// customer styles start with c-

.c-location-table {
  margin-bottom: 0;
  tbody > tr > td:nth-child(1) {
      width: 150px;
  }
  tbody > tr > td:nth-child(2) {
    width: 80px;
  }
}

.c-vc {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-ib {
    display: inline-block
}

// table column that has 1 icon
.c-tc-icon1 {
    width: 40px;
}

.c-tc-icon2 {
    width: 100px;
}

textarea.monofont {
    font-family: monospace;
}

.ck-editor__editable {
    min-height: 300px;
}

img.icon16 {
    width: 16px;
    height: 16px;
}

img.icon24 {
    width: 24px;
    height: 24px;
}

img.icon32 {
    width: 32px;
    height: 32px;
}

// large modal dialogbox
div.lg-modal {
    & > div.modal-content {
        width:  1440px;
        height: 860px;
    }
}
div.md-modal {
    & > div.modal-content {
        width:  1080px;
        height: 600px;
    }
}
div.sm-modal {
    & > div.modal-content {
        width:  800px;
        height: 600px;
    }
}


// for resizable, movable and centered modal
div.standard-modal {
    max-width: none !important;
    max-height: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    & > div.modal-content {
        & > div.modal-header {
            background-color: royalblue;
        }
        border: 1px solid darkgrey;
    }
}

button.btn-window {
    border: 0;
}