body {
  background-color: #fafafa;
  padding-top: 70px; }

.c-location-table {
  margin-bottom: 0; }
  .c-location-table tbody > tr > td:nth-child(1) {
    width: 150px; }
  .c-location-table tbody > tr > td:nth-child(2) {
    width: 80px; }

.c-vc {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.c-ib {
  display: inline-block; }

.c-tc-icon1 {
  width: 40px; }

.c-tc-icon2 {
  width: 100px; }

textarea.monofont {
  font-family: monospace; }

.ck-editor__editable {
  min-height: 300px; }

img.icon16 {
  width: 16px;
  height: 16px; }

img.icon24 {
  width: 24px;
  height: 24px; }

img.icon32 {
  width: 32px;
  height: 32px; }

div.lg-modal > div.modal-content {
  width: 1440px;
  height: 860px; }

div.md-modal > div.modal-content {
  width: 1080px;
  height: 600px; }

div.sm-modal > div.modal-content {
  width: 800px;
  height: 600px; }

div.standard-modal {
  max-width: none !important;
  max-height: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  div.standard-modal > div.modal-content {
    border: 1px solid darkgrey; }
    div.standard-modal > div.modal-content > div.modal-header {
      background-color: royalblue;
      cursor: move;
      padding: 6px; }
      div.standard-modal > div.modal-content > div.modal-header > div.modal-title {
        color: white;
        font-weight: bold;
        font-size: 18px; }
      div.standard-modal > div.modal-content > div.modal-header > button.close {
        cursor: default; }
    div.standard-modal > div.modal-content > div.modal-body {
      background-color: #fafafa; }
