body {
  background-color: #fafafa;
  padding-top: 70px; }

.c-location-table {
  margin-bottom: 0; }

.c-vc {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.c-ib {
  display: inline-block; }

.c-tc-icon1 {
  width: 40px; }

.c-tc-icon2 {
  width: 100px; }

textarea.monofont {
  font-family: monospace; }

table.timer-table th[data-role='icons'] {
  width: 40px; }

table.timer-table th[data-role='paused'] {
  width: 40px; }

table.timer-table th[data-role='topic'] {
  width: 200px; }

table.timer-table th[data-role='author'] {
  width: 120px; }

table.timer-table th[data-role='team'] {
  width: 120px; }

table.timer-table th[data-role='interval'] {
  width: 120px; }

table.timer-table th[data-role='start'] {
  width: 180px; }

.dataset-table th[data-role='author'] {
  width: 120px; }

.dataset-table th[data-role='team'] {
  width: 120px; }

.dataset-table th[data-role='publish_time'] {
  width: 180px; }

.dataset-table th[data-role='expired_time'] {
  width: 180px; }

.dataset-table th[data-role='major_version'] {
  width: 100px; }

.dataset-table th[data-role='minor_version'] {
  width: 100px; }

.dataset-schema-table th[data-role='type'] {
  width: 120px; }

.dataset-schema-table th[data-role='is_array'] {
  width: 60px; }

.dataset-schema-table th[data-role='nullable'] {
  width: 75px; }
