Django==3.0.4
djangorestframework==3.11.0
django-filter==2.2.0
mysqlclient==1.4.6
jsonschema==3.2.0
django-webpack-loader==0.7.0
requests==2.24.0
schedule==0.6.0
Jinja2==2.11.2
graphviz==0.15
cryptography==3.4.7

# below is for testing only
# mock==4.0.3
# coverage==5.5
