div.dataset-table {
    width: 1300px;

    & > div {
        height: 680px;
        overflow-y: auto;

        & > table {
            & > thead {
                & > tr {
                    & > th[data-role='schema'] {
                        width: 40px;
                        text-align: center;
                    }
                    & > th[data-role='author'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='team'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='publish_time'] {
                        width: 180px;
                        text-align: center;
                    }
                    & > th[data-role='expiration_time'] {
                        width: 180px;
                        text-align: center;
                    }
                    & > th[data-role='major_version'] {
                        width: 100px;
                        text-align: center;
                    }
                    & > th[data-role='minor_version'] {
                        width: 100px;
                        text-align: center;
                    }
                }
            }
            & > tbody {
                & > tr {
                    & > td {
                        height: 40px;
                        vertical-align: middle;
                    }
                    & > td[data-role='schema'] {
                        text-align: center;
                    }
                    & > td[data-role='author'] {
                        text-align: center;
                    }
                    & > td[data-role='team'] {
                        text-align: center;
                    }
                    & > td[data-role='publish_time'] {
                        text-align: center;
                    }
                    & > td[data-role='expiration_time'] {
                        text-align: center;
                    }
                    & > td[data-role='major_version'] {
                        text-align: center;
                    }
                    & > td[data-role='minor_version'] {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.dataset-schema-table {
    th[data-role='type'] {
        width: 120px;
    }
    th[data-role='is_array'] {
        width: 60px;
    }
    th[data-role='nullable'] {
        width: 75px;
    }
}

div.dataset-instance-table {
    & > div {
        height: 680px;
        overflow-y: auto;

        & > table {
            & > thead {
                & > tr {
                    & > th[data-role='tools'] {
                        width: 40px;
                    }
                    & > th[data-role='path'] {
                        text-align: center;
                    }
                    & > th[data-role='data_time'] {
                        width: 180px;
                        text-align: center;
                    }
                    & > th[data-role='publish_time'] {
                        width: 180px;
                        text-align: center;
                    }
                    & > th[data-role='revision'] {
                        width: 80px;
                        text-align: center;
                    }
                    & > th[data-role='dependency'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='loader'] {
                        width: 76px;
                        text-align: center;
                    }
                    & > th[data-role='row_count'] {
                        width: 120px;
                        text-align: center;
                    }
                    & > th[data-role='locations'] {
                        width: 800px;
                        text-align: center;
                    }
                }
            }
            & > tbody {
                & > tr {
                    & > td {
                        height: 40px;
                        vertical-align: middle;
                    }
                    & > td[data-role='data_time'] {
                        text-align: center;
                    }
                    & > td[data-role='publish_time'] {
                        text-align: center;
                    }
                    & > td[data-role='revision'] {
                        text-align: center;
                    }
                    & > td[data-role='dependency'] {
                        text-align: center;
                    }
                    & > td[data-role='loader'] {
                        text-align: center;
                    }
                    & > td[data-role='row_count'] {
                        text-align: center;
                    }
                }
            }
        }
    }
}

span.card-asset-type {
    width: 90px;
    display: inline-block;
}

span.card-prompt {
    width: 150px;
    display: inline-block;
}

.card-indent-level-1 {
    padding-left: 40px;
}

table.dataset-attribute-grid {
    font-family:'courier new',monospace;
    border: 1px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 100%;

    & > tbody > tr > td {
        border: 1px solid rgb(211, 211, 211);
        padding: 4px;
    }

    & > tbody > tr > td:first-child {
        width: 160px;
        vertical-align: top;
    }
}

table.dataset-lineage-attribute-grid {
    font-family:'courier new',monospace;
    border: 1px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 100%;

    & > tbody > tr > td {
        border: 1px solid rgb(211, 211, 211);
        padding: 4px;
    }

    & > tbody > tr > td:first-child {
        width: 200px;
        vertical-align: top;
    }
}

span.asset-label-active {
    font-weight: bold;
    color: green;
}

span.asset-label-inactive {
    font-weight: bold;
    color: red;
}
