.dataset-table {
    th[data-role='schema'] {
        width: 40px;
    }
    th[data-role='author'] {
        width: 120px;
    }
    th[data-role='team'] {
        width: 120px;
    }
    th[data-role='publish_time'] {
        width: 180px;
    }
    th[data-role='expired_time'] {
        width: 180px;
    }
    th[data-role='major_version'] {
        width: 100px;
    }
    th[data-role='minor_version'] {
        width: 100px;
    }
}

.dataset-schema-table {
    th[data-role='type'] {
        width: 120px;
    }
    th[data-role='is_array'] {
        width: 60px;
    }
    th[data-role='nullable'] {
        width: 75px;
    }
}
