div.datalake-editor-modal {
    & > div.modal-content {
        width:  900px;
        height: 860px;
    }
}

div.subscription-table {
    width: 600px;

    & > div {
        height: 680px;
        overflow-y: auto;

        & > table {
            & > thead {
                & > tr {
                    & > th[data-role='name'] {
                        width: 500px;
                    }
                    & > th[data-role='is_admin'] {
                        text-align: center;
                    }
                }
            }
            & > tbody {
                & > tr {
                    & > td[data-role='is_admin'] {
                        text-align: center;
                    }
                }
            }
        }
    }
}

div.ssh-config-editor-modal {
    & > div.modal-content {
        width:  860px;
        height: 600px;
    }

    textarea[data-role='ssh-config'] {
        font-family:monospace;
    }

    table[data-role="keys-table"] {
        width: 100%;

        th[data-role="action1"] {
            width: 64px;
        }
        th[data-role="key-name"] {
            width: 220px;
        }
        th[data-role="action2"] {
            width: 64px;
        }
    }
}

div.ssh-key-editor {
    & > div.modal-content {
        width:  860px;
        height: 600px;
    }
}