#global-header {
    & > nav {
        background-color: #007A87;

        .navbar-brand {
            & > img {
                height: 32px;
            }

            & > span {
                margin-left: 8px;
            }
        }
    }
}

.active-link {
    background-color: darkslategray;
    border-radius: 8px;
}