spark-etl==0.0.92
dc-client==0.0.111
dm-job-lib==0.0.49
Jinja2==2.11.2

# required packages if you are using Oracle OCI
# oci-core==0.0.14

# required packages if you are using AWS EMR
# boto3==1.17.11
