{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        {% if user.is_authenticated %}
            <div class="alert alert-primary" role="alert">
                You already logged in
            </div>
        {% else %}
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            <div style="text-align:center;">
                <h4>Login to Data Manager</h4>
            </div>
            <form action="login" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control" name="username" id="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control form-control" placeholder="Enter password" name="password" id="password">
                    </div>
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-info btn">Sign In</button>
                </div>
            </form>
            <p>
                If you do not have an account and want to signup, please click <a href="/explorer/signup">here</a>.
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
