{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        {% if user.is_authenticated %}
            <div class="alert alert-primary" role="alert">
                You already logged in
            </div>
        {% else %}
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            <div style="text-align:center;">
                <h4>Signup to Data Manager</h4>
            </div>
            <form action="signup" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="first_name" class="col-sm-4 col-form-label">First name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control" name="first_name" id="first_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-4 col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control" name="last_name" id="last_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control" name="username" id="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control" name="email" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-control" name="password" id="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password1" class="col-sm-4 col-form-label">Password (confirm)</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control form-control" name="password1" id="password1">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn btn-block">Sign Up</button>
                </div>
            </form>
            <p>
                If you already have an account and want to sign in, please click <a href="/explorer/login">here</a>.
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
